.answer{
  border-radius: 10px;
  border: 1px solid #4D5B9E;
  padding: 8px;
  color: #293264;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
}


.answer:hover{
  background: #D6DBF5;
  border: 1px solid #D6DBF5
}

.disabled{
  opacity: 0.5;
}


.selected{
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}


.correct{
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}

.correct {
  background: #94D7A2;
  border: 1px solid #94D7A2;
}

.wrong {
  background: #F8BCBC;
  border: 1px solid #F8BCBC;
}