.init {
  display: flex;
  flex-direction: column;
}

.init--title {
  font-family: 'Karla';
  font-weight: 700;
  color: #293264;
  text-align: center;
  font-size: 41px;
  font-family: Karla;
  font-weight: 700;
}