.question {
  border-bottom: 2px solid #DBDEF0;
  padding: 15px 0px;
  width: 100%;
}

.question--label {
  color: #293264;
  font-size: 18px;
  font-family: Karla;
  font-weight: 700;
}

.question--answers{
  display: flex;
  column-gap: 20px;
}